@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{--bg:#0b1220;--fg:#e4e7ee;}
body{font-family:Inter,system-ui,ui-sans-serif,Segoe UI,Roboto,"Helvetica Neue",Arial,"Apple Color Emoji","Segoe UI Emoji";background:var(--bg);color:var(--fg);}
